deploy/terraform/terraform.tfstate
deploy/terraform/.terraform/
src/toDoUpdatesApi/.vs/
src/toDoUpdatesApi/obj/
src/toDoUpdatesApi/bin/
src/toDoUpdatesApi/Properties/launchSettings.json
src/toDoUpdatesApi/toDoUpdatesApi.sln
src/UpdatesApi/obj/
src/UpdatesApi/.vs/
src/UpdatesApi/bin/
src/ProcessToDoItemUpdatesWorkerService/.vs/
src/ProcessToDoItemUpdatesWorkerService/bin/
src/ProcessToDoItemUpdatesWorkerService/obj/
src/ItemsApi/.vs/
src/ItemsApi/bin/
src/ItemsApi/obj/
